.root {
  font-size: var(--font-size-m);
  font-weight: 700;
  line-height: 1.333;
  color: var(--color-dark-900);
}

.large {
  font-size: var(--font-size-xxl);
  line-height: 1.3846;
}

.h1 {
  font-size: var(--font-size-xl);
  line-height: 1.8;
}

.h2 {
  font-size: var(--font-size-l);
}

.h3 {
  line-height: 1.5;
}

.body1 {
  font-weight: 400;
  line-height: 1.5;
}

.subtitle1 {
}

.body2 {
  font-size: var(--font-size-s);
  font-weight: 400;
  line-height: 1.7143;
}

.subtitle2 {
  font-size: var(--font-size-s);
  line-height: 1.7143;
}

.caption {
  font-size: var(--font-size-xs);
  font-weight: 400;
}

.overline {
  font-size: var(--font-size-xs);
}

.link1 {
  font-size: var(--font-size-s);
  line-height: 1.7143;
  color: var(--color-info-500);
  text-decoration-line: underline;
}

.link2 {
  font-size: var(--font-size-xs);
  font-weight: 400;
  color: var(--color-info-500);
  text-decoration-line: underline;
}
